# Dependencias
node_modules/
frontend/node_modules/
backend/venv/
backend/__pycache__/

# Variables de entorno
.env
*.env
backend/.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
